<html>
  <head>
    <title>froalav3</title>
    <link href="{{ url_for('static', filename='node_modules/froala-editor/css/froala_editor.pkgd.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div id="editor" class="froala-editor"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/froala-editor/js/froala_editor.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/froalav3.js') }}"></script>
  </body>
</html>