<html>
  <head>
    <title>froalav2</title>
    <link href="{{ url_for('static', filename='node_modules/froala-editor-custom/css/froala_editor.pkgd.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.6/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.6/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div id="editor" class="froala-editor"></div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/froala-editor-custom/js/froala_editor.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/froalav2.js') }}"></script>
  </body>
</html>